<div class="container-fluid">
    <div class="navbar-header">

        <div class="collapse navbar-collapse">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-sm-8">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="active">
                                <a ui-sref="Data">
                                    <i class="ti-user"></i>
                                    <p>Data</p>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="Analysis">
                                    <i class="ti-panel"></i>
                                    <p>Analysis</p>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="monitor">
                                    <i class="ti-export"></i>
                                    <p>Monitor</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <form class="navbar-form" role="search">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-search"></i>
                                </span>
                                <input id="idSearchBox" type="text" class="form-control searchBox" style="background-color:white;color:black" placeholder="Search...">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
