<div class="container-fluid">
    <div class="row row-eq-height" style="height:40px">
        <div class="col-sm-2">
            <form class="navbar-form" role="search">
                <div class="input-group" style="position:absolute;top:0px;width:270px">
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
                    <input id="idSearchBox" ng-keyup="FilterChanged()" type="text" class="searchBox" style="background-color:white;color:black" ng-model="searchText" placeholder="Search...">
                </div>
            </form>
        </div>
        <div class="col-sm-2">
            <a href="#" ng-click="enableCreateNew()" title="Add" class="btn btn-primary btn-xs pull-right">
                Add
            </a>
            <a href="#" ng-disabled="selectedId==0" ng-click="deleteSelected()" title="Delete" class="btn btn-danger btn-xs pull-right">
                Remove
            </a>
        </div>
        <div class="col-sm-8">
           
                <span>Items per page:</span>
                <input style="width:50px;display:inline" type="number" min="1" max="100"  ng-model="pageSize">
           
        </div>
 
        </div>
        <div class="row row-eq-height">
            <div class="col-sm-8 ">

                <table style="width:100%;height:100%" class="table table-striped">
                    <thead tyle="width:100%">
                        <tr>
                            <th>Id.</th>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Grade</th>
                            <th>Subject</th>

                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="item in ListUser| filter:searchText| itemsPerPage: pageSize" current-page="currentPage" ng-class="{'selected':item.id == selectedId}" ng-click="setClickedRow($index,item.id)">
                            <td>{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.dateJoined }}</td>
                            <td>{{ item.grade }}</td>
                            <td>{{ item.subject }}</td>
                            <td>
                                <a href="#" ng-click="getUser(item)" title="Edit Record" class="btn btn-primary btn-xs pull-right">
                                    Edit
                                </a>
                                <a href="#" ng-click="deleteUser(item)" title="Delete Record" class="btn btn-danger btn-xs pull-right">
                                    Delete
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4" style="overflow-y:scroll">
                <h3>Details</h3>
                <form name="frmUser" novalidate>
                    <input type="hidden" ng-model="userModel.Id" name="uid" />
                    <div class="form-group">
                        <span class="control-label">Name</span>
                        <input type="text" class="ateditbox" ng-model="userModel.name" name="uname" placeholder="" required />
                        <span class="error" ng-show="(frmUser.$dirty||submitted) && frmUser.uname.$error.required">Customer name is Required</span>
                    </div>
                    <div class="form-group">
                        <span class="control-label">Grade</span>
                        <input type="text" class="ateditbox" ng-model="userModel.grade" name="Grade" placeholder="" />
                    </div>
                    <div class="form-group">
                        <span class="control-label">E-mail</span>
                        <input type="email" class="ateditbox" ng-model="userModel.email" name="email" placeholder="" required />
                        <span class="error" ng-show="(frmUser.$dirty ||submitted) && frmUser.email.$error.required">EmailId is Required!</span>
                        <span class="error" ng-show="(frmUser.$dirty ||submitted) && frmUser.$error.email">Invalid EmailId!</span>
                    </div>
                    <div class="form-group">
                        <span class="control-label">Date Joined</span>
                        <input type="date" style="display:inline;width:55px;float:right;background-color:rgb(244, 243, 239)" ng-model="userModel.dateJoined" name="DateJoined" placeholder="">
                        <input type="text" style="display:inline;width:195px" class="ateditbox" ng-model="userModel.dateJoined" name="DateJoined" placeholder="">
                    </div>
                    <div class="form-group">
                        <span class="control-label">Address</span>
                        <input type="text" class="ateditbox" ng-model="userModel.address" name="Address" placeholder="">
                    </div>
                    <div class="form-group">
                        <span class="control-label">City</span>
                        <input type="text" class="ateditbox" ng-model="userModel.city" name="City" placeholder="">
                    </div>
                    <div class="form-group">
                        <span class="control-label">Country</span>
                        <input type="text" class="ateditbox" ng-model="userModel.country" name="Country" placeholder="">
                    </div>
                    <div class="form-group">
                        <span class="control-label">Zip</span>
                        <input type="text" class="ateditbox" ng-model="userModel.zip" name="Zip" placeholder="">
                    </div>
                    <div class="form-group">
                        <span class="control-label">Subject</span>
                        <input type="text" class="ateditbox" ng-model="userModel.subject" name="Zip" placeholder="">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger" ng-click="reset()">Reset</button>
                        <button type="submit" class="btn btn-primary" ng-click="saveUser()"
                                ng-If="userModel.id == 0 && enableCreate">
                            Create
                        </button>
                        <button type="submit" class="btn btn-success" ng-click="updateUser()"
                                ng-If="userModel.id > 0">
                            Update
                        </button>
                    </div>
                </form>
                <span class="warning">{{resmessage}}</span>
            </div>
        </div>
        <div class="row row-eq-height" style="height:20px">
            <div class="text-center">
                <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="./views/shared/dirPagination.tpl.html"></dir-pagination-controls>
            </div>
        </div>
    </div>
