
.main-panel {
    float: left;
    width:100%;
}
table {
    width: 100%; /* 140px * 5 column + 16px scrollbar width */
    border-spacing: 0;
    height: 100%;
}

tbody, thead tr {
    display: block;
}

tbody {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    cursor:grabbing;
}

    tbody td, thead th {
        min-width: 100px;
    }

/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.navbar {
    margin-bottom: 0px;
}
.selected {
    background-color: black;
    color: blue;
    font-weight: bold;
}
li.active {
    color: blue;
    font-weight: bold;
}
.ateditbox {
    width: 250px;
    height: 30px;
    display: inline;
    float:right;
}

